body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  height: 100%;
}


.parallax {
  /* The image used */
  background-image: url('../images/101sessies/101barzachtergrond1.0.jpg');
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-size: cover;
}

h1,
h2 {
  text-align: center;
  color: white;
  margin-bottom: 2%;
  font-size: 60px;

}


.box {
  color: white;
  background-color: rgba(117, 75, 75, 0.5);

}


.flex-container {
  display: flex;
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  /* padding en margin kunnen we misschien weg laten?(weet niet meer waarom het handig is om die op het begin standaard waardes te geven*/
  padding: 0;
  margin: 0;
  list-style: upper-roman;
  
}

.flex-item {
  padding: 5px;
  width: 33vh;
  height: 100%;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  margin-bottom: 50px;
}


.flex-item img {
  width: 100%;
}



@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

/*voor heel layout*/

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  padding-top: 50vh;
}


.wrapper> {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: grey;
}

.main {
  text-align: center;
  background-color: rgba(117, 75, 75, 0.5);
  color: white;
}

.whitebackground {
  background: white;
}

/*border none kan ook weg, maar dat is wss voor die lijn bedoeld die alleen zichtbaar word in een bepaalde breedte pixels*/
aside hr {
  border: none;
}

/*footer {
  order: 4;
}
*/

@media all and (min-width: 600px) {
  /* ik heb bij linkerzijde en rechterzijde flex 1 neer gezet waardoor eigenlijk die flex 1 hieronder weg kan, nu kan important ook weg*/
  aside {
    flex: 1;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 3;
  }

  aside hr {
    border: 1px;
  }

  .linkerzijde {
    order: 1;
    flex: 1;
  }

  .main {
    order: 2;
  }

  .rechterzijde {
    order: 3;
    flex: 1;
  }

  footer {
    order: 4;
  }
}